{% extends 'main/main.html.twig' %}
{% block additionalcss %}
    <link rel="stylesheet" href="{{ asset('css/userstable.css') }}" />
{% endblock %}

{% block content %}
        <div class="content" id="articles">
            <h3>{{ 'users' | trans}}</h3>
            <div class="table">
            {{ form_start(form) }}
                    {% for user in users %}
                    <table>
                            <tr>
                                <td class="first">{{ 'user_id' | trans }}</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td class="first">{{ 'user_email' | trans }}</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td class="first">{{ form_label(form.roles[user.id]) }}</td>
                                <td>{{ form_widget(form.roles[user.id]) }}</td>
                            </tr>
                            <tr>
                                <td class="first">{{ 'notification' | trans}}</td>
                                <td>{{ user.notification }}</td>
                            </tr>
                            <td style="border: none;"></td>
                    </table>
                    {% endfor %}
            <button type="submit">{{ 'change' | trans }}</button>
            {{ form_end(form) }}
            </div>
        </div>
{% endblock %}