{% extends 'main/main.html.twig' %}

{% block content %}
        <div class="content" id="articles">
            <h3>Users</h3>
            {{ form_start(form) }}
                    {% for user in users %}
                    <table>
                            <tr>
                                <td>User ID</td>
                                <td>{{ user.id }}</td>
                            </tr>
                            <tr>
                                <td>User email</td>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <td>User role</td>
                                <td> {{ form_row(form.roles[user.id]) }}</td>
                            </tr>
                            <tr>
                                <td>Notification</td>
                                <td>{{ user.notification }}</td>
                            </tr>
                            <td style="border: none;"></td>
                    </table>
                    {% endfor %}
            <button type="submit" style="margin: 2%;">Change</button>
            {{ form_end(form) }}
        </div>
{% endblock %}