<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Registration{% endblock %}</title>
    <style>
        {% block stylesheets %}
        body
        {
            background-color: #ffffb3;
        }
        form
        {
            width: 40%;
            margin: auto;
            background-color: #ffa64d;
            padding: 6% 2% 6% 2%;
            font-size: 1.2em;
        }
        form div
        {
            clear:both;
            text-align:right;
        }
        form label
        {
            float: left;
            margin: 2%;
        }
        form input
        {
            margin: 1%;
            height: 1.2em;
        }
        h1
        {
            text-align: center;
        }
        button
        {
            margin-left: 40%;
            padding: 1%;
        }
        a
        {
            text-decoration: none;
            color: black;
        }
        form p
        {
            display: inline-block;
            padding-right: 2%;
        }

        @media screen and (max-width: 890px)
        {
            form div
            {
                clear:both;
                float: right;
            }
        }
        {% endblock %}
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<a>
{% block body %}
    <h1>Registration</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <div class="notify">
        {{ form_row(form.notification) }}
    </div>
    <button type="submit">Register</button>
    <br>
    <p>Already registered?</p>
    <a href="/login" id="tologinform">Login...</a>
    {{ form_end(form) }}
{% endblock %}
</body>
</html>