{% extends 'base.html.twig' %}
{% block title %}{{ 'registration'|trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/base.css') }}" />
{% endblock %}
{% block body %}
    <h1>{{ 'registration' | trans }}</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
    <div class="notify">
        {{ form_row(form.notification) }}
    </div>
    <button type="submit">{{ 'registration' | trans }}</button>
    <br>
    <p>{{ 'already_registered' | trans }}</p>
    <a href="/login" id="tologinform">{{ 'login' | trans }}...</a>
    {{ form_end(form) }}
{% endblock %}
