<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Registration{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/form.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}
    <h1>Registration</h1>
    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}
    <div class="notify">
        {{ form_row(form.notification) }}
    </div>
    <button type="submit">Register</button>
    <br>
    <p>Already registered?</p>
    <a href="/login" id="tologinform">Login...</a>
    {{ form_end(form) }}
{% endblock %}
</body>
</html>