{# total items count #}
<div class="count">
    {{ pagination.getTotalItemCount }}
</div>
<table>
    <tr>
        {# sorting of properties based on query components #}
        <th>Category</th>
        <th>{{ knp_pagination_sortable(pagination, 'Name', 'a.name') }}</th>
        <th>{{ knp_pagination_sortable(pagination, 'Author', 'a.author')}}</th>
        <th>Annotation</th>
        <th>Date</th>
    </tr>

    {# table body #}
    {% for article in pagination %}
        <tr {% if loop.index is odd %}class="color"{% endif %}>
            <td>{{ article.category.name }}</td>
            <td>{{ article.name }}</td>
            <td>{{ article.author}}</td>
            <td>{{ article.annotation }}</td>
            <td>{{ article.date |date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
</table>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>