{% extends 'main/main.html.twig' %}
{% block additionalcss %}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}" />
{% endblock %}
{% block content %}
    <div class="content" id="articles">
        <h1>{{ article.name }}</h1>
        <h3>{{ article.author }}</h3>
        <div id="annotation">{{ article.annotation }}</div>
        <br>
        <div id="fulltext">{{ article.fullText.fullText }}</div>
        <p id="date">{{ article.date|date('Y-m-d') }}</p>
        {% for art in article.similarArticles %}
            {{ art.name }}<br>
        {% endfor %}
        {% if is_granted('ROLE_MANAGER') %}
            <div id="managerbar">
                <a href="{{ url('delete_article', {'id': article.id})}}" onclick="return confirm('confirm_question')">{{ 'delete' | trans }}</a>
                <a href="{{ path('change_article', {'id': article.id}) }}">{{ 'change_article' | trans }}</a>
            </div>
            <form action="{{ path('add_similar', {'id': article.id}) }}" method="post">
                <label for="similar">{{ 'enter_similar_articles' | trans }}</label>
                <input type="text" id="similar" name="similar" />
                <button type="submit">{{ 'add' | trans }}</button>
            </form>
        {% endif %}
    </div>
{% endblock %}


