<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8" />
    <title>{% block title %}Registration{% endblock %}</title>
    <style>
        {% block stylesheets %}
        body
        {
            background-color: #ffffb3;
        }
        form
        {
            width: 40%;
            margin: auto;
            background-color: #ffa64d;
            padding: 6% 2% 6% 2%;
        }
        form div
        {
            clear:both;
            text-align:right;
        }
        form label
        {
            float: left;
            margin: 2%;
        }
        form input
        {
            margin: 1%;
        }
        h1
        {
            text-align: center;
        }
        button
        {
            margin-left: 40%;
            margin-top: 5%;
            padding: 1%;
        }
        @media screen and (max-width: 890px)
        {
            form div
            {
                clear:both;
                float: right;
            }
        }
        {% endblock %}
    </style>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block body %}
        <h1>Registration</h1>
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <div class="notify">
                    {{ form_row(form.notification) }}
                </div>
            <button type="submit">Register!</button>
            {{ form_end(form) }}
    {% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>